@import "tailwindcss";

@theme {
  --color-text-primary: #ffffff;
  --color-text-secondary: #e3e7e8;
  --color-bg-main: #090b0c;
  --color-bg-secondary: #161b1d;
  --color-bg-1: #22292b;
  --color-bg-2: #394447;
  --color-brand: #2563eb;
}

@layer base {
  * {
    @apply text-white;
  }
}
@custom-variant data-active {
  &:where([data-state="active"]),
  &:where([data-active]:not([data-active="false"])) {
    @slot;
  }
}
