<div class="flex items-center justify-center flex-1">
    <div class="flex flex-col items-center bg-main-900 border border-main-800 rounded-lg w-full max-w-4xl space-y-2  h-fit p-3">
        <h1 class="font-bold text-xl text-left w-full">Create server</h1>
        <div class="bg-main-800 w-full flex space-x-6 items-center justify-between rounded-xl m-2" >
            <div class="flex">
                <img src="/images/terraria.jpg" alt="terraria logo" class="size-20 m-4 object-contain">
                <div class="flex flex-col md:justify-around  p-2">
                    <h2 class="font-semibold text-xl">Terraria</h2>
                    <p class="hidden md:block">Play terraria with friends the way relogic intended.</p>
                </div>
            </div>
            <a class="bg-brand hover:bg-blue-600  text-main-50 w-fit h-fit p-2 sm:whitespace-nowrap px-4 rounded-xl mx-2" asp-action="Terraria" asp-controller="Server">Create server</a>
        </div>

        <div class="bg-main-800 w-full flex space-x-6 items-center justify-between rounded-xl m-2" >
            <div class="flex">
                <img src="/images/tmodloader.png" alt="terraria logo" class="size-20 object-contain m-4">
                <div class="flex flex-col md:justify-around  p-2">
                    <h2 class="font-semibold text-xl">tModLoader</h2>
                    <p class="hidden md:block">Play modded terraria with friends. install all of your favorite mods from our integrated mod browser.</p>
                </div>
            </div>
            <a class="bg-brand hover:bg-blue-600  text-main-50 w-fit h-fit p-2 sm:whitespace-nowrap px-4 rounded-xl mx-2" asp-action="Tmodloader" asp-controller="Server">Create server</a>
        </div>

        <div class="bg-main-800 w-full flex space-x-6 items-center justify-between rounded-xl m-2" >
            <div class="flex">
                <img src="/images/minecraft.svg" alt="terraria logo" class="size-20 object-contain m-4">
                <div class="flex flex-col md:justify-around  p-2">
                    <h2 class="font-semibold text-xl">Minecraft</h2>
                    <p class="hidden md:block">Setup a minecraft server be it vanilla, modded or using plugins. all popular versions supported.</p>
                </div>
            </div>
            <a class="bg-brand hover:bg-blue-600  text-main-50 w-fit h-fit p-2 sm:whitespace-nowrap px-4 rounded-xl mx-2" asp-action="Minecraft" asp-controller="Server">Create server</a>
        </div>

        <div class="bg-main-800 w-full flex space-x-6 items-center justify-between rounded-xl m-2" >
            <div class="flex">
                <img src="/images/valheim.png" alt="terraria logo" class="size-20 object-contain m-4">
                <div class="flex flex-col md:justify-around  p-2">
                    <h2 class="font-semibold text-xl">Valheim</h2>
                    <p class="hidden md:block">Survive, build, and explore in valheim with friends.</p>
                </div>
            </div>
            <a class="bg-brand hover:bg-blue-600  text-main-50 w-fit h-fit p-2 sm:whitespace-nowrap px-4 rounded-xl mx-2" asp-action="Valheim" asp-controller="Server">Create server</a>
        </div>
    </div>
</div>
